// chat-item

<li class="left clearfix">
  <span class="chat-img pull-left">
    <img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
  </span>
  <div class="chat-body clearfix">
    <div class="header">
      <strong class="primary-font">John Doe</strong>
      <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
</li>

// channel-item
<li class="active bounceInDown">
  <a class="clearfix item">
    <span>fdsfds</span>
  </a>
</li>

// member-item
<li class="active bounceInDown">
  <a class="clearfix item">
    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
    <span>fdsfdsf</span>
  </a>
</li>
